span.icon a:link,
span.icon a:visited {
    display: block;
    text-indent: -9999px;
}
span.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
span.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
span.tooltip:hover .tooltiptext {
    visibility: visible;
}

span.home a:link,
span.home a:visited {
    width: 134px;
    height: 124px;
    background: url(./sprite.png) top left no-repeat;
}

span.home a:hover {
    background-position: 0 -124px;
    
}

span.home a:active {
    background-position: 0 -248px;
}